@{
}

<h3>Menu</h3>
<ul class="nav side-menu">
    <li>
        @Html.ActionLink("Home Page", "Index", "Home")
    </li>

    <li>
        <a><i class="fa fa-edit"></i> Product <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li>
                @Html.ActionLink("Add", "Add", "Product")
            </li>
            <li>
                @Html.ActionLink("List", "List", "Product")
            </li>
        </ul>
    </li>

    <li>
        @Html.ActionLink("Basket Detail", "Detail", "Basket")
    </li>
</ul>