@{
}

<h3>Menu</h3>
<ul class="nav side-menu">
        <li>
            <a href="../Home/Index"><i class="fa fa-edit"></i> Home Page</a>
            <a href="../Product/List"><i class="fa fa-edit"></i> Product List</a>
            <a href="../Basket/Index"><i class="fa fa-edit"></i> Basket</a>
        </li>
</ul>